extends layout.pug

block content
  h1 Edit Movie
  if errors
    ul.error
      each error in errors
        li #{error.msg}
  form(method='POST', action=`/movies/${movie._id}/edit`)
    .form-group
      label(for='name') Name
      input(type='text', name='name', id='name', value=movie.name)
    .form-group
      label(for='description') Description
      textarea(name='description', id='description') #{movie.description}
    .form-group
      label(for='year') Year
      input(type='number', name='year', id='year', value=movie.year)
    .form-group
      label(for='genres') Genres (comma-separated)
      input(type='text', name='genres', id='genres', value=movie.genres.join(', '))
    .form-group
      label(for='rating') Rating (1-10)
      input(type='number', name='rating', id='rating', min='1', max='10', value=movie.rating)
    button(type='submit') Update Movie